.cardContainer {
  /* border: 5px solid rgba(128, 128, 128, 0.2); Grey border with opacity */
  border-radius: 10px;
  box-shadow: 5 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: rgb(56, 48, 48);
   /* Increase padding to provide more space for content */
  margin-bottom: 50px;
  position: absolute;
  top: 50%;
  left: 50%; /* Center the card horizontally */
  transform: translate(-50%, -50%); 
  transition: transform 0.5s ease;
  padding-bottom: ;
}

.cardContainer:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.react-player {
  max-width: calc(100% - 40px); /* Adjust max-width of the player to fit inside the card */
  margin-bottom: 20px; /* Add space below the player */
}

.buttonsContainer {
  display: flex;
  align-items: center; /* Center the items vertically */
  padding-top: 10px; /* Adjust padding */
}

.buttonsContainer button {
  margin-left: 10px; /* Add space between the button and the play icon */
}

.matchPercent{
  color: green;
  font-size: 18px;
  font-weight: bold;
}
