.container {
  width: 15em;
  margin-top: 1rem;
  margin-left: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; 
   position: absolute;
}

/* .container {
  

  top: 0;
  left: 0;
  align-items: center;
  padding-left: 0.75rem;
} */

@media (min-width: 600px) {
  .container {
    width: 35em;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -25rem;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: flex-start;    padding-left: 0.75rem;
  }
  .description{
  }
  .button {
    height: 2.6em;
  }
  .image {
    width: 15rem;
    z-index: 70;
  }
}

@media (max-width: 880px) {
  .container {
    margin-top: -20rem;
  }
  .description {
    display: none;
  }
}
@media (max-width: 600px) {
  .container {
    margin-top: -10rem;
  }
  .description {
    display: none;
  }
  .button{
    height:1.8em;
  }
}

@media (min-width: 880px) {
  .container {
    width: 35em;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -30rem;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: flex-start;    padding-left: 0.75rem;
  }
  .image {
    width: 30rem;
    z-index: 70;
  }
  .button {
    height: 2.6em;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 35em;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -30rem;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: flex-start;    padding-left: 0.75rem;
  }
}
@media (min-width: 1160px) {
  .container {
    width: 35em;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -32rem;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: flex-start;    padding-left: 0.75rem;
  }
}

@media (min-width: 1500px) {
    .container {
      width: 40em;
      margin-top: -32rem;
      margin-left: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }
  .image {
    width: 25rem;
    z-index: 70;
   
  }
}


/* @media (min-width: 1320px) {
    .container {
      width: 45em;
      margin-top: 18rem;
      margin-left: rem;
  }
  .image {
    width: 25rem;
    z-index: 70;
   
  }
} */





@media (min-width: 640px) {
  .description {
    width: 100%;
  }
}




.description {
  width: 50%;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.button:hover {
  filter: brightness(90%);
}

.play {
  background-color: white;
  color: black;
  font-weight: bold;
  width: 5em;
  display: flex;
  align-items: center;
}

.play:hover {
  background-color: #2563eb;
}

.moreInfo {
  background-color: #6b7280;
  color: #fff;
  display: flex;
  align-items: center;
}

.moreInfo:hover {
  background-color: #4b5563;
}
